
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>New Post</h1>
    <div>What's on your mind?</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <%= form_for @article do |f| %>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
      <div class="form-group">
        <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :author, placeholder: "Author", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "Content", class: "form-control", rows: "10" %>
      </div>
      <%= f.submit class: "btn btn-primary btn-cust" %>
    </div>
    </div>  
  <% end %>
  </div>
</div>