<!DOCTYPE html>
<html>
<head>
  <title>BlogSolution</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
</head>
<body >
  <nav class="navbar navbar-default navbar-cust">
    <a class="navbar-brand" href="/articles/new">PostIT</a>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to current_user.email, user_path(current_user.id) %></li>
      <% end %>
    </ul>
  </nav>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
